@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <link href="~/Content/Style.css" rel="stylesheet" />


</head>

<div class="table-responsive rounded-3 shadow-sm" style="max-width: 720px; margin: 0 auto;">
    <table class="table table-striped table-hover align-middle mb-0">
        <thead class="table-dark">
            <tr>
                <th scope="col">Student Name</th>
                <th scope="col">Student ID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Oussama Hassoune</td>
                <td>20020990</td>
            </tr>
            <tr>
                <td>Muhammad Hassan Raza</td>
                <td>12203662</td>
            </tr>
            <tr>
                <td>Haris Saif</td>
                <td>12301575</td>
            </tr>
            <tr>
                <td>Khalakujjaman Rifat</td>
                <td>20029806</td>
            </tr>
        </tbody>
    </table>
</div>

</html>