@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <link href="~/Content/Style.Built.css" rel="stylesheet" />

</head>
<h1 class="text-3xl text-indigo-600 p-4 rounded-lg bg-indigo-50">Tailwind is working</h1>

<table>
    <thead class="TableStyle">
        <tr>
            <th> Student Name</th>
            <th>Student ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>The name </td>
            <td>The ID</td>
        </tr>

    </tbody>
</table>
</html>