@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <link href="~/Content/Style.css" rel="stylesheet" />


</head>

<div class="table-responsive rounded-3 shadow-sm" style="max-width: 720px; margin: 0 auto;">
    <table class="table table-striped table-hover align-middle mb-0">
        <thead class="table-dark">
            <tr>
                <th scope="col">Student Name</th>
                <th scope="col">Student ID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>The name</td>
                <td>The ID</td>
            </tr>
        </tbody>
    </table>
</div>

</html>